/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Path: app/assets/stylesheets/application.scss */
@import "bootstrap-sprockets";
@import "bootstrap";

/* Path: app/assets/stylesheets/bootstrap/_alerts.scss */


.card-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
  font-size: 1.72rem;
}

.card-body {
  padding: 1.5rem;
}

.card-footer {
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 1.5rem;
}
